.auths {
  background: #fff;
  overflow: hidden;
  height: 100%;

  .logo {
    text-align: center;
    margin-top:80px;
    margin-bottom: 80px;

    .logo_icon {
      width: 260px;
      height: 206px;
      margin: auto;
    }


  }

  .login_wrap {
    .login_list {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 25px;
      width:630px;
      margin: auto;
      border-bottom: 1px solid rgba(225,225,225,1);
      margin-top: 50px;
      .account {
        width: 38px;
        height: 40px;
      }

      .password {
        width: 38px;
        height: 40px;
      }

      .input {
        font-size: 34px;
        color: rgba(185, 185, 185, 1);
        line-height: 48px;
        margin-left: 20px;
      }

    }

  }
  .login_btn{
    width:630px;
    height:88px;
    background:rgba(245,166,35,1);
    border-radius:44px;
    font-size:36px;
    line-height:88px;
    color: #fff;
    margin: auto;
    text-align: center;
    margin-top: 100px;
  }
  .bg{
    width: 750px;
    height: 236px;
    position: absolute;
    bottom: 0;
  }
}