.coupons {
  padding-bottom: 88px;
  .coupons-header{
    height:210px;
    background:rgba(245,166,35,1);
    display: flex;
    align-items: center;
    .header-item{
        flex: 1;
        text-align: center;
        font-size:48px;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:67px;
        .subtitle{
          font-size:28px;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(255,255,255,1);
          line-height:40px;
        }
        &:first-child{
          border-right: 1px solid #ffffff;
        }
    }
  }
  .coupons-list{
    padding-left: 30px;
    background: #fff;
    .li-item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #EEEEEE;
      padding-right: 30px;
      .content-left{
        font-size:20px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(102,102,102,1);
        align-self: center;
        line-height:28px;
        padding: 20px 0 10px;
        .title{
          font-size:30px;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(48,48,48,1);
          line-height:42px;
          margin-bottom: 5px;
          .status{
            display: inline-block;
            width:80px;
            height:30px;
            font-weight:400;
            color:rgba(245,166,35,1);
            font-size:20px;
            text-align: center;
            line-height: 30px;
            vertical-align: middle;
            border-radius:5px;
            border:1px solid rgba(245,166,35,1);
            margin-left: 20px;
            &.up{
              color:#FE2547;
              border:1px solid #FE2547;
            }
            &.down{
              color:#B9B9B9;
              border:1px solid #B9B9B9;
            }

          }
        }
        .count{
          display: inline-block;
          width: 150px;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
      .content-right{
          .btn{
            display: block;
            width:130px;
            height:70px;
            line-height: 70px;
            text-align: center;
            background:rgba(238,189,108,1);
            border-radius:5px;
            font-size:28px;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:rgba(255,255,255,1);
            &.down{
              background:#FF9560;
            }
            &.up{
              background:#F5A623;
            }
          }
      }
    }
  }
  .fix_bottom_btn{
    width: 750px;
    height: 88px;
    background: rgba(245, 166, 35, 1);
    line-height: 88px;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 36px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
  }
}
